<a href="https://colab.research.google.com/github/YunjiSon/2022spring/blob/main/pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#pandas : python data analysis library

In [2]:
import pandas as pd

intall import built-in
built-in function은 원래 있는 함수여서 다시 안해도 되는거.
import할 수 있는 것은 install 됐다는 것을 가정. 안된 것은 install 먼저 해야함.

In [2]:
df = pd.read_csv("https://download.mlcc.google.com/mledu-datasets/california_housing_train.csv", sep=",")
df

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
0,-114.31,34.19,15.0,5612.0,1283.0,1015.0,472.0,1.4936,66900.0
1,-114.47,34.40,19.0,7650.0,1901.0,1129.0,463.0,1.8200,80100.0
2,-114.56,33.69,17.0,720.0,174.0,333.0,117.0,1.6509,85700.0
3,-114.57,33.64,14.0,1501.0,337.0,515.0,226.0,3.1917,73400.0
4,-114.57,33.57,20.0,1454.0,326.0,624.0,262.0,1.9250,65500.0
...,...,...,...,...,...,...,...,...,...
16995,-124.26,40.58,52.0,2217.0,394.0,907.0,369.0,2.3571,111400.0
16996,-124.27,40.69,36.0,2349.0,528.0,1194.0,465.0,2.5179,79000.0
16997,-124.30,41.84,17.0,2677.0,531.0,1244.0,456.0,3.0313,103600.0
16998,-124.30,41.80,19.0,2672.0,552.0,1298.0,478.0,1.9797,85800.0
16999,-124.35,40.54,52.0,1820.0,300.0,806.0,270.0,3.0147,94600.0

csv: comma seperated values
컴마로 나눈 텍스트 파일
pandas라는 library 속에 있는 function

위와 같은 것을 data frame이라고 함.

In [3]:
print(df.size); print(df.ndim); print(df.shape)

153000
2
(17000, 9)

In [4]:
df.describe() #기본적인 통계정보 알려주는 것.

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
count,17000.000000,17000.000000,17000.000000,17000.000000,17000.000000,17000.000000,17000.000000,17000.000000,17000.000000
mean,-119.562108,35.625225,28.589353,2643.664412,539.410824,1429.573941,501.221941,3.883578,207300.912353
std,2.005166,2.137340,12.586937,2179.947071,421.499452,1147.852959,384.520841,1.908157,115983.764387
min,-124.350000,32.540000,1.000000,2.000000,1.000000,3.000000,1.000000,0.499900,14999.000000
25%,-121.790000,33.930000,18.000000,1462.000000,297.000000,790.000000,282.000000,2.566375,119400.000000
50%,-118.490000,34.250000,29.000000,2127.000000,434.000000,1167.000000,409.000000,3.544600,180400.000000
75%,-118.000000,37.720000,37.000000,3151.250000,648.250000,1721.000000,605.250000,4.767000,265000.000000
max,-114.310000,41.950000,52.000000,37937.000000,6445.000000,35682.000000,6082.000000,15.000100,500001.000000

파일로 저장하고 싶을 때

In [5]:
df.to_csv('california_housing_train.csv') #왼쪽에서 파일로 만들어진 거 내 컴퓨터에서 다운받으면 다운 받아짐.

중요한 것은 파일을 csv로 data frame으로 만들 수 있다는 것. 그리고 그걸 다시 파일로 만들 수 있다는 거

왜 엑셀 파일은 csv로 저장 안될까? 왜냐하면 실제 엑셀은 그림, 이런것도 되는 거고 csv는 단순 텍스트 파일이니까

constructing a data frame using dict

In [3]:
data = {'sepal_length': [6.9, 6.9, 4.8, 5.4, 4.6],
        'sepal_width': [3.2, 3.1, 3.4, 3.0, 3.6],
        'petal_length': [5.7, 5.1, 1.9, 4.5, 1.0],
        'petal_width': [2.3, 2.3, 0.2, 1.5, 0.2],
        'species': ['virginica', 'virginica', 'setosa', 'versicolor', 'setosa']}
df = pd.DataFrame(data)
df
        #이때 들어가는 item의 갯수가 맞아야됨.

   sepal_length  sepal_width  petal_length  petal_width     species
0           6.9          3.2           5.7          2.3   virginica
1           6.9          3.1           5.1          2.3   virginica
2           4.8          3.4           1.9          0.2      setosa
3           5.4          3.0           4.5          1.5  versicolor
4           4.6          3.6           1.0          0.2      setosa

constructing a DataFrame using pd.Series

In [4]:
sepal_length = pd.Series([6.9, 6.9, 4.8, 5.4, 4.6])
sepal_width = pd.Series([3.2, 3.1, 3.4, 3.0, 3.6])
petal_length = pd.Series([5.7, 5.1, 1.9, 4.5, 1.0])
petal_width = pd.Series([2.3, 2.3, 0.2, 1.5, 0.2])
species = pd.Series(['virginica', 'virginica', 'setosa', 'versicolor', 'setosa'])

df = pd.DataFrame({'sepal_length': sepal_length, 'sepal_width': sepal_width, 'petal_length': petal_length, 'petal_width': petal_width, 'SPECIES': species})
df

   sepal_length  sepal_width  petal_length  petal_width     SPECIES
0           6.9          3.2           5.7          2.3   virginica
1           6.9          3.1           5.1          2.3   virginica
2           4.8          3.4           1.9          0.2      setosa
3           5.4          3.0           4.5          1.5  versicolor
4           4.6          3.6           1.0          0.2      setosa

changing colum names

In [6]:
df.columns

Index(['sepal_length', 'sepal_width', 'petal_length', 'petal_width',
       'SPECIES'],
      dtype='object')

In [29]:
#change the columns 
df.columns = ['sepal_length', 'sepal_width', 'petal_length', 'petal_width', 'species', 'new_column']
df

,sepal_length,sepal_width,petal_length,petal_width,species,new_column
0,6.9,3.2,5.7,2.3,virginica,1
1,6.9,3.1,5.1,2.3,virginica,1
2,4.8,3.4,1.9,0.2,setosa,1
3,5.4,3.0,4.5,1.5,versicolor,1
4,4.6,3.6,1.0,0.2,setosa,1

In [9]:
df.loc[:, 'sepal_length'] #인쪽은 row 정보, 오른쪽은 column

0    6.9
1    6.9
2    4.8
3    5.4
4    4.6
Name: sepal_length, dtype: float64

In [10]:
df['sepal_length'] #이렇게 해도 똑같이 나옴

0    6.9
1    6.9
2    4.8
3    5.4
4    4.6
Name: sepal_length, dtype: float64

In [11]:
df.sepal_length

0    6.9
1    6.9
2    4.8
3    5.4
4    4.6
Name: sepal_length, dtype: float64

In [12]:
df.loc[:, ['sepal_length', 'sepal_width']]

   sepal_length  sepal_width
0           6.9          3.2
1           6.9          3.1
2           4.8          3.4
3           5.4          3.0
4           4.6          3.6

In [14]:
df[['sepal_length', 'sepal_width']]

   sepal_length  sepal_width
0           6.9          3.2
1           6.9          3.1
2           4.8          3.4
3           5.4          3.0
4           4.6          3.6

accessing rows

In [15]:
df.loc[3,:]

sepal_length           5.4
sepal_width            3.0
petal_length           4.5
petal_width            1.5
SPECIES         versicolor
Name: 3, dtype: object

In [16]:
df.loc[[3,0],:]

   sepal_length  sepal_width  petal_length  petal_width     SPECIES
3           5.4          3.0           4.5          1.5  versicolor
0           6.9          3.2           5.7          2.3   virginica

In [18]:
df.loc[2:5, :] #얘는 row자리에 list가 아님.

   sepal_length  sepal_width  petal_length  petal_width     SPECIES
2           4.8          3.4           1.9          0.2      setosa
3           5.4          3.0           4.5          1.5  versicolor
4           4.6          3.6           1.0          0.2      setosa

In [20]:
df[df.sepal_length > 5] #이런 row 만 나옴.

   sepal_length  sepal_width  petal_length  petal_width     SPECIES
0           6.9          3.2           5.7          2.3   virginica
1           6.9          3.1           5.1          2.3   virginica
3           5.4          3.0           4.5          1.5  versicolor

In [23]:
df. loc[:, 'sepal_length'][4]

4.6

In [24]:
df['sepal_length'][4]

4.6

In [25]:
df.sepal_length [4]

4.6

In [26]:
df['new_column'] = 1
df

,sepal_length,sepal_width,petal_length,petal_width,SPECIES,new_column
0,6.9,3.2,5.7,2.3,virginica,1
1,6.9,3.1,5.1,2.3,virginica,1
2,4.8,3.4,1.9,0.2,setosa,1
3,5.4,3.0,4.5,1.5,versicolor,1
4,4.6,3.6,1.0,0.2,setosa,1

In [30]:
df['new_column'] = [1, 2, 3, 4, 5]
df

,sepal_length,sepal_width,petal_length,petal_width,species,new_column
0,6.9,3.2,5.7,2.3,virginica,1
1,6.9,3.1,5.1,2.3,virginica,2
2,4.8,3.4,1.9,0.2,setosa,3
3,5.4,3.0,4.5,1.5,versicolor,4
4,4.6,3.6,1.0,0.2,setosa,5

In [32]:
df = df.drop('new_column', axis=1) #axis = 1, 는 칼럼이라는 뜻.
df

   sepal_length  sepal_width  petal_length  petal_width     species
0           6.9          3.2           5.7          2.3   virginica
1           6.9          3.1           5.1          2.3   virginica
2           4.8          3.4           1.9          0.2      setosa
3           5.4          3.0           4.5          1.5  versicolor
4           4.6          3.6           1.0          0.2      setosa

adding/removing new rows

In [33]:
df.loc[5, :] = ''
df

  sepal_length sepal_width petal_length petal_width     species
0          6.9         3.2          5.7         2.3   virginica
1          6.9         3.1          5.1         2.3   virginica
2          4.8         3.4          1.9         0.2      setosa
3          5.4         3.0          4.5         1.5  versicolor
4          4.6         3.6          1.0         0.2      setosa
5

In [34]:
df = df.drop(5, axis=0) # axis=0: row
df

  sepal_length sepal_width petal_length petal_width     species
0          6.9         3.2          5.7         2.3   virginica
1          6.9         3.1          5.1         2.3   virginica
2          4.8         3.4          1.9         0.2      setosa
3          5.4         3.0          4.5         1.5  versicolor
4          4.6         3.6          1.0         0.2      setosa